*{
    margin: 0;
}

section{
    width: 80%;
    height: 400px;
    margin: 25px auto;
    border: 10px solid blue;
}

section:first-of-type{
    background-image: linear-gradient(90deg, green 33%, white 33%, white 67%, green 67%);
}

section:nth-of-type(2){
    background-image: radial-gradient(circle, red 25%, white 20%);
}

section:nth-of-type(3){
    background-image: linear-gradient(180deg, red 33%, white 33%, white 40%, blue 40%, blue 74%, white 74%, white 79%, green 80%);
}

section:nth-of-type(4){
    background-image: linear-gradient(180deg, green 40%, yellow 40%, yellow 70%, blue 70%, blue 70%);
}

section:nth-of-type(5){
    background-image: linear-gradient(90deg, blue 33%, white 33%, white 67%, red 67%);
}

section:nth-of-type(6) {
    background-image: linear-gradient(90deg, black 33%, yellow 33%, yellow 67%, red 67%);
}

section:nth-of-type(7){
    background-image: url(./media/star.png), linear-gradient(180deg, red 40%, yellow 40%, yellow 70%, green 70%, green 70%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 140px, 100%;
}

section:nth-of-type(8){
    background-image: linear-gradient(180deg, black 40%, red 40%, red 70%, yellow 70%, yellow 70%);
}

section:last-of-type{
    background-image: 
    url(./media/yellowstar.png), 
    url(./media/yellowstar.png), 
    url(./media/yellowstar.png), 
    url(./media/yellowstar.png), 
    url(./media/yellowstar.png), 
    url(./media/yellowstar.png), 
    radial-gradient(red, red)
    ;
    
    background-repeat: no-repeat;
    background-size: 200px, 80px, 80px, 80px, 80px, 100%;
    background-position: 50px 100px, 250px 30px, 350px 95px, 300px 180px, 270px 280px, 100;


  
}